@model FacultyApplicants.Models.Applicant

@{
    ViewBag.Title = "Подробности";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>Абитуриент</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecondName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patronymic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patronymic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExamPoints)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExamPoints)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OriginalCertificate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OriginalCertificate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NeedDormitory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NeedDormitory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BudgetEducation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BudgetEducation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Application)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Application)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("К списку абитуриентов", "Index")
</p>
