@model IEnumerable<FacultyApplicants.Models.Applicant>

@{
    ViewBag.Title = "Список абитуриентов";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Добавить абитуриента", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecondName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Patronymic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExamPoints)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OriginalCertificate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NeedDormitory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BudgetEducation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Application)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecondName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Patronymic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExamPoints)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OriginalCertificate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NeedDormitory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BudgetEducation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Application)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Подробно", "Details", new { id=item.Id }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
