@model FacultyApplicants.Models.BranchOfLearning

@{
    ViewBag.Title = "Удаление из системы направления обучения";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<h3>Вы уверены, что хотите стереть из системы данное направление обучения,</h3>
<div>
    <h4>Направление</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("К списку направлений", "Index")
        </div>
    }
</div>
